table{
    margin: auto;
    width: 1400px;
    margin-top: 20px;
    margin-bottom: 100px;
}
img{
    width: 150px;
    height: 150px;
    object-fit: cover;
}
#table{
    display: flex;
    justify-content: center;
}
.buttons{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.buttons button{
    width: 500px;
}
p{
    margin: 0px;
}
.buttons-modal{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.modal-content button{
    width: 290px;
}
.modal-content h2{
   text-align: center;
}
#close{
    margin-top: 13%;
    user-select: none;
    cursor: pointer;
    color: white;
    font-size: 35px;
    margin-left: 10px;
}
.modal{
    display: none;
    justify-content: center;
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 1000px;
    overflow: auto;
    background-color: #52032da3;
}
.modal-content{
    background-color: rgb(255, 255, 255);
    margin-top: 13%;
    height: 400px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.btn{
    padding: 0px;
    margin: 0px;
    width: 100px;
    height: 20px;
    color: #2b2a28;
    background-color: #2b2a2800;
}
.btn:hover{
    padding: 0px;
    margin: 0px;
    width: 100px;
    height: 20px;
    color: #2b2a28;
    background-color: #2b2a2800;
}
form{
    border: #e4097f 3px solid;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}
form .item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    margin: 15px;
}
table {
    font-family: "Acrom-Medium";
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse; 
}
table th {
	font-weight: bold;
	padding: 5px;
	background: #fce6f2;
	border: 1px solid #e4097f;
}
table td {
	border: 1px solid #e4097f;
	padding: 5px;
}
a{
    color: #e4097f;
}
.item input{
    width: 300px;
    height: 30px;
}
.buttons-modal{
    margin-top: 30px;
}
.buttons-modal button{
    margin: 10px;
}