
.create-review{
    margin-top: 30px;
    margin-bottom: 30px;
}
.create-review form{
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #fce6f2;
    width: 900px;
    align-items: center;
    padding-bottom: 30px;
}
form .item{
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}
select{
    width: 500px;
    padding: 7px;
    border-radius: 7px;
}
textarea{
    width: 500px;
    border-radius: 7px;
}
button{
    margin-top: 20px;
}