header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  user-select: none;
  border-bottom: #e4097f 3px solid;
}
#logo-header {
  width: 130px;
  cursor: pointer;
}
.text-header {
  font-size: 15px;
  font-family: "Acrom-Regular";
  cursor: pointer;
}
.text-header:hover {
  color: #e4097f;
}
.header-button {
  font-size: 15px;
  font-family: "Acrom-Regular";
  width: 150px;
  height: 40px;
}
@media (max-width: 1000px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    user-select: none;
    border-bottom: #e4097f 3px solid;
    flex-wrap: wrap;
  }
  #logo-header {
    width: 100px;
    cursor: pointer;
  }
  .text-header {
    font-size: 12px;
    font-family: "Acrom-Regular";
    cursor: pointer;
  }
  .text-header:hover {
    color: #e4097f;
  }
  .header-button {
    font-size: 12px;
    font-family: "Acrom-Regular";
    width: 100px;
    height: 30px;
  }
}
@media (max-width: 700px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    border-bottom: #e4097f 3px solid;
    flex-wrap: wrap;
  }
  #logo-header {
    width: 100px;
    cursor: pointer;
  }
  .text-header {
    font-size: 10px;
    font-family: "Acrom-Regular";
    cursor: pointer;
  }
  .text-header:hover {
    color: #e4097f;
  }
  .header-button {
    font-size: 10px;
    font-family: "Acrom-Regular";
    width: 100px;
    height: 25px;
    margin-bottom: 10px;
  }
}
