.singUp{
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    border: solid 3px #e4097f;
    border-radius: 20px;
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form .item{
    width: 550px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
input{
    width: 300px;
}
h2{
    height: 30px;
    margin-top: -15px;
}
.field{
    display: flex;
    align-items: center;
    flex-direction: column;
}
input[type=checkbox]{
    width: 15px;
} 
h5{
    margin: 0;
}
.politics{
    margin-left: 15px;
    width: 500px;
}
label h4{
    font-size: 18px;
}
input{
    background-color: #fce6f2;
    border: none;
    width: 330px;
    height: 30px;
}
form button{
    margin-top: 30px;
    width: 100%;
}
.registration{
    margin-top: 7px;
    text-decoration: underline;
    text-align: center;
}
.registration:hover{
    color: #e4097f;
}
.error{
    color: red;
}